/*
!.*
.NERDTreeBookmarks
.PlayOnLinux/
.Skype/
.TrueCrypt/
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cabal/
.cache/
.claws-mail/
.com.zerog.registry.xml
.config/
.dmenu_cache
.dropbox/
.eduroam/
.elinks/
.esd_auth
.fehbg
.filezilla/
.ghc/
.gimp-2.8/
.gitconfig
.gnome/
.gnupg/
.gstreamer-0.10/
.ihaskell/
.install4j
.ipython/
.java/
.lesshst
.links/
.local/
.mail/
.mailcap
.matlab/
.mozilla/
.mplayer/
.msmtprc
.mutt/
.muttrc
.notmuch-config
.npm/
.nv/
.offlineimap/
.offlineimaprc
.pki/
.ssh/
.stack/
.subversion/
.thumbnails/
.urlview
.vim/
.vim_mru_files
.viminfo
.viminfo.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vimperator/
.vimperatorrc
.vimrc.bak
.weechat/
.win7dl.txt.swp
.windows-serial
.wine/
.xchat2/
.xscreensaver
